<%- include("./partials/header.ejs") %>
    <main class="main-content  mt-0">
        <section class="my-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h1 class="display-1 text-bolder text-gradient text-danger">Error 404</h1>
                        <h2>Erm. Page not found</h2>
                        <p class="lead">We suggest you to go to the homepage while we solve this issue.</p>
                    </div>
                    <div class="col-lg-6 my-auto position-relative">
                        <img class="w-100 position-relative" src="/assets/img/illustrations/error-404.png"
                            alt="404-error">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto text-center mt-1">
                    <small class="mb-0 text-secondary">
                        Copyright
                        <script>
                            document.write(new Date().getFullYear())
                        </script> &copy; All rights reserved
                    </small>
                </div>
            </div>
        </div>
    </footer>
    <%- include("./partials/footer.ejs") %>