<%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>

        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="card"
                                style="background-image: url('../../../assets/img/curved-images/white-curved.jpeg')">
                                <span class="mask bg-gradient-dark opacity-9 border-radius-xl"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                                                <i class="ni ni-circle-08 text-dark text-gradient text-lg opacity-10"
                                                    aria-hidden="true"></i>
                                            </div>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                1600
                                            </h5>
                                            <span class="text-white text-sm">Users Active</span>
                                        </div>
                                        <div class="col-4">
                                            <div class="dropdown text-end mb-6">
                                                <a href="javascript:;" class="cursor-pointer" id="dropdownUsers1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h text-white" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers1">
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Action</a></li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Another action</a></li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Something else here</a></li>
                                                </ul>
                                            </div>
                                            <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+55%
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
                            <div class="card"
                                style="background-image: url('../../../assets/img/curved-images/white-curved.jpeg')">
                                <span class="mask bg-gradient-dark opacity-9 border-radius-xl"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                                                <i class="ni ni-active-40 text-dark text-gradient text-lg opacity-10"
                                                    aria-hidden="true"></i>
                                            </div>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                357
                                            </h5>
                                            <span class="text-white text-sm">Click Events</span>
                                        </div>
                                        <div class="col-4">
                                            <div class="dropstart text-end mb-6">
                                                <a href="javascript:;" class="cursor-pointer" id="dropdownUsers2"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h text-white" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers2">
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Action</a></li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Another action</a></li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Something else here</a></li>
                                                </ul>
                                            </div>
                                            <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+124%
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="card"
                                style="background-image: url('../../../assets/img/curved-images/white-curved.jpeg')">
                                <span class="mask bg-gradient-dark opacity-9 border-radius-xl"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                                                <i class="ni ni-cart text-dark text-gradient text-lg opacity-10"
                                                    aria-hidden="true"></i>
                                            </div>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                2300
                                            </h5>
                                            <span class="text-white text-sm">Purchases</span>
                                        </div>
                                        <div class="col-4">
                                            <div class="dropdown text-end mb-6">
                                                <a href="javascript:;" class="cursor-pointer" id="dropdownUsers3"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h text-white" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers3">
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Action</a></li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Another action</a></li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Something else here</a></li>
                                                </ul>
                                            </div>
                                            <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+15%
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
                            <div class="card"
                                style="background-image: url('../../../assets/img/curved-images/white-curved.jpeg')">
                                <span class="mask bg-gradient-dark opacity-9 border-radius-xl"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <div class="icon icon-shape bg-white shadow text-center border-radius-md">
                                                <i class="ni ni-like-2 text-dark text-gradient text-lg opacity-10"
                                                    aria-hidden="true"></i>
                                            </div>
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                940
                                            </h5>
                                            <span class="text-white text-sm">Likes</span>
                                        </div>
                                        <div class="col-4">
                                            <div class="dropstart text-end mb-6">
                                                <a href="javascript:;" class="cursor-pointer" id="dropdownUsers4"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h text-white" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers4">
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Action</a></li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Another action</a></li>
                                                    <li><a class="dropdown-item border-radius-md"
                                                            href="javascript:;">Something else here</a></li>
                                                </ul>
                                            </div>
                                            <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">+90%
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                    <div class="card h-100">
                        <div class="card-header pb-0 p-3">
                            <h6 class="mb-0">Reviews</h6>
                        </div>
                        <div class="card-body pb-0 p-3">
                            <ul class="list-group">
                                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-0">
                                    <div class="w-100">
                                        <div class="d-flex mb-2">
                                            <span class="me-2 text-sm font-weight-bold text-capitalize">Positive
                                                reviews</span>
                                            <span class="ms-auto text-sm font-weight-bold">80%</span>
                                        </div>
                                        <div>
                                            <div class="progress progress-md">
                                                <div class="progress-bar bg-gradient-info w-80" role="progressbar"
                                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                                    <div class="w-100">
                                        <div class="d-flex mb-2">
                                            <span class="me-2 text-sm font-weight-bold text-capitalize">Neutral
                                                reviews</span>
                                            <span class="ms-auto text-sm font-weight-bold">17%</span>
                                        </div>
                                        <div>
                                            <div class="progress progress-md">
                                                <div class="progress-bar bg-gradient-dark w-10" role="progressbar"
                                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                                    <div class="w-100">
                                        <div class="d-flex mb-2">
                                            <span class="me-2 text-sm font-weight-bold text-capitalize">Negative
                                                reviews</span>
                                            <span class="ms-auto text-sm font-weight-bold">3%</span>
                                        </div>
                                        <div>
                                            <div class="progress progress-md">
                                                <div class="progress-bar bg-gradient-danger w-5" role="progressbar"
                                                    aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer pt-0 p-3 d-flex align-items-center">
                            <div class="w-60">
                                <p class="text-sm">
                                    More than <b>1,500,000</b> developers used Creative Tim's products and over
                                    <b>700,000</b> projects were created.
                                </p>
                            </div>
                            <div class="w-40 text-end">
                                <a class="btn bg-gradient-dark mb-0 text-end" href="#" data-bs-toggle="modal"
                                    data-bs-target="#modalSignUp">Add User</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h4 class="font-weight-bolder text-dark text-gradient">Users</h4>
                            <p class="text-sm">You can use the search bar to find specific users, or you can scroll
                                through the list to find the user you're looking for.</p>
                        </div>
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-container table-responsive">
                                <table class="table table-hover table-flush dataTable-table" id="users-table" hidden="">
                                    <thead class="thead-light">
                                        <tr>
                                            <th data-sortable="" style="width: 20.9375%;"><a
                                                    ng-click="sort_with('code');" href="#"
                                                    class="dataTable-sorter">Code</a></th>
                                            <th data-sortable="" style="width: 20.9375%;"><a
                                                    ng-click="sort_with('name');" href="#"
                                                    class="dataTable-sorter">Name</a></th>
                                            <th data-sortable="" style="width: 27.6563%;"><a
                                                    ng-click="sort_with('function');" href="#"
                                                    class="dataTable-sorter">Function</a></th>
                                            <th data-sortable="" style="width: 30.9375%;"><a
                                                    ng-click="sort_with('gender');" href="#"
                                                    class="dataTable-sorter">Gender</a></th>
                                            <th data-sortable="" style="width: 23.2813%;"><a
                                                    ng-click="sort_with('date');" href="#"
                                                    class="dataTable-sorter">Employed</a></th>
                                            <th data-sortable="" style="width: 23.2813%;"><a href="#">Update</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            ng-repeat="s in searched = (users | filter:mySearch | orderBy : base :reverse) | beginning_data:(current_grid-1)*data_limit | limitTo:data_limit">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="form-check">
                                                        <input ng-disabled="s.status == 0" class="form-check-input"
                                                            type="checkbox" value="{{s._id}}" name="userCheck"
                                                            id="userCheck">
                                                    </div>
                                                    <p class="text-xs font-weight-bold ms-2 mb-0">#{{s._id}}
                                                    </p>
                                                </div>
                                            </td>
                                            <td class="text-xs font-weight-bold">
                                                <div class="d-flex align-items-center">
                                                    <div ng-show="(s.fname | limitTo: 1) == 'A' || (s.fname | limitTo: 1) == 'B' || (s.fname | limitTo: 1) == 'C' || (s.fname | limitTo: 1) == 'D' || (s.fname | limitTo: 1) == 'E' || (s.fname | limitTo: 1) == 'F'"
                                                        class="avatar avatar-xs me-2 bg-gradient-dark">
                                                        <span>{{s.fname | limitTo: 1}}</span>
                                                    </div>
                                                    <div ng-show="(s.fname | limitTo: 1) == 'G' || (s.fname | limitTo: 1) == 'H' || (s.fname | limitTo: 1) == 'I' || (s.fname | limitTo: 1) == 'J' || (s.fname | limitTo: 1) == 'K' || (s.fname | limitTo: 1) == 'L'"
                                                        class="avatar avatar-xs me-2 bg-gradient-primary">
                                                        <span>{{s.fname | limitTo: 1}}</span>
                                                    </div>
                                                    <div ng-show="(s.fname | limitTo: 1) == 'M' || (s.fname | limitTo: 1) == 'N' || (s.fname | limitTo: 1) == 'O' || (s.fname | limitTo: 1) == 'P' || (s.fname | limitTo: 1) == 'Q' || (s.fname | limitTo: 1) == 'R' || (s.fname | limitTo: 1) == 'Z'"
                                                        class="avatar avatar-xs me-2 bg-gradient-info">
                                                        <span>{{s.fname | limitTo: 1}}</span>
                                                    </div>
                                                    <div ng-show="(s.fname | limitTo: 1) == 'S' || (s.fname | limitTo: 1) == 'T' || (s.fname | limitTo: 1) == 'U' || (s.fname | limitTo: 1) == 'V' || (s.fname | limitTo: 1) == 'W' || (s.fname | limitTo: 1) == 'X' || (s.fname | limitTo: 1) == 'Y'"
                                                        class="avatar avatar-xs me-2 bg-gradient-success">
                                                        <span>{{s.fname | limitTo: 1}}</span>
                                                    </div>
                                                    <div class="flex-column">
                                                        <h6 class="text-xs">{{s.title}}. {{s.fname}} {{s.lname}}
                                                        </h6>
                                                        <p class="text-xs text-secondary mb-0">
                                                            {{s.email}}</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-xs font-weight-bold">
                                                <span class="my-2 text-xs">
                                                    {{s.category}}
                                                </span>
                                            </td>
                                            <td class="text-xs font-weight-bold">
                                                <span class="my-2 text-xs">
                                                    {{s.gender}}
                                                </span>
                                            </td>
                                            <td class="text-xs font-weight-bold">
                                                <span class="my-2 text-xs">
                                                    {{s.createdAt | date:'MM/dd/yyyy'}}
                                                </span>
                                            </td>
                                            <td class="text-xs font-weight-bold">
                                                <div class="d-flex align-items-center">
                                                    <button
                                                        ng-click="updateUser(s._id, s.title, s.fname, s.lname, s.email, s.gender, s.birthday, s.phone, s.address, s.category)"
                                                        class="btn btn-icon-only btn-rounded btn-outline-info mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i
                                                            class="fa-solid fa-rotate" aria-hidden="true"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dataTable-bottom">
                                <div class="dataTable-info">Showing {{ searched.length }} of {{ users.length}}
                                    entries</div>
                                <nav class="dataTable-pagination">
                                    <div pagination="" page="current_grid" on-select-page="page_position(page)"
                                        total-items="users.length" items-per-page="data_limit" max-size="3"
                                        class="dataTable-pagination-list font-weight-bold" previous-text="‹"
                                        next-text="›"></div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-8 mx-auto text-center mt-1">
                            <small class="mb-0 text-secondary">
                                Copyright
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> &copy; All rights reserved
                            </small>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Sign Up Modal -->
        <div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="modalSignUp"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h4 class="font-weight-bolder text-dark text-gradient">{{title}} user</h4>
                                <small>Enter the user's information into the appropriate fields.</small>
                            </div>
                            <div class="card-body pb-3">
                                <form id="userForm" name="userForm" role="form text-left" novalidate>
                                    <div class="row">
                                        <div class="col-12 col-sm-2">
                                            <label>Title</label>
                                            <select ng-model="utitle" class="form-control" name="utitle" id="utitle"
                                                placeholder="Title" required>
                                                <option value="Dr">Dr</option>
                                                <option value="Prof">Prof</option>
                                                <option value="Mr">Mr</option>
                                                <option value="Ms">Ms</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-sm-5">
                                            <label>First Name</label>
                                            <input ng-model="fname" id="fname" name="fname" class="form-control"
                                                type="text" placeholder="First Name" autofocus="on"
                                                onfocus="focused(this)" onfocusout="defocused(this)" required>
                                        </div>
                                        <div class="col-12 col-sm-5">
                                            <label>Last Name</label>
                                            <input ng-model="lname" id="lname" name="lname"
                                                class="form-control validate" type="text" placeholder="Last Name"
                                                onfocus="focused(this)" onfocusout="defocused(this)" required>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                            <label>Email</label>
                                            <input ng-model="email=(fname + lname + '@studa.com') | lowercase"
                                                id="email" name="email" class="form-control validate" type="email"
                                                placeholder="Email Address" onfocus="focused(this)"
                                                onfocusout="defocused(this)" required>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <label>Gender</label>
                                            <select ng-model="gender" class="form-control" name="gender" id="gender"
                                                placeholder="Gender" required>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 col-sm-6">
                                            <label>Birthday</label>
                                            <input ng-model="birthday" id="birthday" name="birthday"
                                                class="form-control datepicker validate" type="date"
                                                placeholder="Birthday" onfocus="focused(this)"
                                                onfocusout="defocused(this)" required>
                                        </div>
                                        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                            <label>Phone</label>
                                            <input ng-model="phone" id="phone" name="phone"
                                                class="form-control validate" type="text" placeholder="Phone"
                                                onfocus="focused(this)" onfocusout="defocused(this)" required>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 col-sm-6">
                                            <label>Address</label>
                                            <input ng-model="address" id="address" name="address"
                                                class="form-control validate" type="text" placeholder="Address"
                                                onfocus="focused(this)" onfocusout="defocused(this)" required>
                                        </div>
                                        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                            <label>Category</label>
                                            <select ng-model="category" class="form-control validate" name="category"
                                                id="category" placeholder="Category" required>
                                                <option value="Admin">Admin</option>
                                                <option value="Lecturer">Lecturer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-info text-left pt-4">
                                        <input ng-model="flexCheckDefault" name="flexCheckDefault"
                                            class="form-check-input" type="checkbox" id="flexCheckDefault" required>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            I agree the <a href="javascrpt:;" class="text-dark font-weight-bolder">Terms
                                                and
                                                Conditions</a>
                                        </label>
                                    </div>
                                    <div class="button-row mt-4">
                                        <button ng-click="saveUser()"
                                            ng-disabled="userForm.utitle.$invalid || userForm.fname.$invalid || userForm.lname.$invalid || userForm.email.$invalid || userForm.gender.$invalid || userForm.birthday.$invalid || userForm.phone.$invalid || userForm.address.$invalid || userForm.category.$invalid || userForm.flexCheckDefault.$invalid"
                                            id="btn-saveUser" class="btn bg-gradient-primary ms-auto mb-0"
                                            type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-secondary pt-0 px-sm-4 px-1">
                                <small style="font-size: 13px;">&copy; By using this website, you agree to be bound by,
                                    <a href="#" class="text-primary text-gradient" data-container="body" data-bs-toggle="popover" data-bs-placement="left"
                                        data-bs-content="
                                            1. Acceptance of Terms and Conditions. These terms and conditions (“Terms and Conditions”) govern your use of this website, including all pages within this website (collectively referred to herein below as this “Website”). These Terms & Conditions are binding and enforceable against all persons that access this Website. By accessing this Website, you acknowledge that you have read, understand, and agree, without limitation or qualification, to be bound by these Terms and Conditions.
                                            2. Modification of Terms and Conditions. We reserve the right to change these Terms and Conditions at any time. Such changes, modifications, additions or deletions shall be effective immediately upon notice thereof, which may be given by means including, but not limited to, posting on this Website. Any use of this Website by you after such notice shall be deemed to constitute acceptance by you of such changes, modifications or additions.
                                            3. Use of Website. This Website is owned and operated by us. You may not copy, reproduce"
                                        data-container="body" data-animation="true">Terms & Conditions</a> set forth. If
                                    you do not agree with
                                    any of these Terms & Conditions, please do not use this website.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("./partials/footer.ejs") %>

            <script>
                //if (document.getElementById('gender')) {
                //    var element = document.getElementById('gender');
                //    const example = new Choices(element, {});
                //}
                //if (document.getElementById('category')) {
                //    var element = document.getElementById('category');
                //    const example = new Choices(element, {});
                //}
            </script>